/* VARIABLES */
:root {
    --color-white: #fff;
    --color-dark: #333;
    --color-primary: #28a745;
    --color-secondary: #0284d0;
    --radius: 0.3rem;
    --transition: all 0.3s linear;
}

/* TEXT COLORS */
.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

/* BUTTON */
.btn {
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: var(--radius);
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn-secondary {
    background: var(--color-secondary);
    color: var(--color-white);
}

.btn-dark {
    background: var(--color-dark);
    color: var(--color-white);
}

.btn-light {
    background: var(--color-white);
    color: var(--color-dark);
}